<div class="{{classes.container}} {{classes.container__centered}} {{classes.container__fullHeight}}">
  <div class="{{classes.register}} {{classes.register__container}} {{classes.shadowBox}}">
    <span class="{{classes.register__label}}">Register</span>
    {{#Form onSubmit=onSubmit}}
    {{{ Field caption="Email" type="text" name="email" classModifier="register" required="true"
        validationErrorText="Invalid email" regexp='^\S+@\S+\.\S+$' }}}
    {{{ Field caption="Login" type="text" name="login" classModifier="register" required="true"
        validationErrorText="Invalid login" regexp='^\[a-zA-Z0-9_-].{3,20}$'}}}
    {{{ Field caption="First name" type="text" name="first_name" classModifier="register" required="true"
      validationErrorText="Invalid first name"}}}
    {{{ Field caption="Second name" type="text" name="second_name" classModifier="register" required="true"
      validationErrorText="Invalid second name"}}}
    {{{ Field caption="Phone" type="text" name="phone" classModifier="register" required="true"
      validationErrorText="Invalid phone"}}}
    {{{ Field caption="Password" type="password" name="password" classModifier="register" required="true"
      validationErrorText="Invalid password"}}}
    {{{ Field caption="Repeat password" type="password" name="password_repeat" classModifier="register" required="true"
      validationErrorText="Invalid password"}}}
    <div class="{{classes.register__buttonContainer}}">      
      {{{Button caption="Register" classModifier="primary" submit="true"}}}
    </div>
    {{/Form}}
    <div class="{{classes.register__linkContainer}}">      
      {{{ Link caption="Sign in" url="/login"}}}
    </div>    
  </div>
</div>