<button class="{{classes.button}} {{#if classModifier}}{{classes.button}}_{{classModifier}}{{/if}}" type="{{#if submit}}submit{{else}}button{{/if}}">
    <span class={{classes.button__text}}>{{caption}}</span>
</button>