<div class="{{classes.system}} {{classes.container}} {{classes.container__centered}} {{classes.container__fullHeight}}">
    <span class="{{classes.system__code}}">{{code}}</span>
    <span class="{{classes.system__text}}">{{text}}</span>
     {{{Link caption="Back to chats" url="/" classModifier="system" routed=true}}}
</div>