<div class="{{classes.chatContent}}">
  {{#if chat}}
  <div class="{{classes.chatContent__userContainer}}">
    {{{Avatar avatarUrl=chat.avatarUrl classModifier="chatContent"}}}
    <span class="{{classes.chatContent__userName}}">{{chat.title}}</span>
    <div class="{{classes.chatContent__chatMenuButtonContainer}}">
      {{#Link clickHandler=onChatMenuClick}}
      <div class="{{classes.chatContent__chatMenuButton}}" data-ref="chatMenuButton">
        <svg width="3" height="16" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="1.5" cy="2" r="1.5" fill="#1E1E1E" />
          <circle cx="1.5" cy="8" r="1.5" fill="#1E1E1E" />
          <circle cx="1.5" cy="14" r="1.5" fill="#1E1E1E" />
        </svg>
      </div>
      {{/Link}}
      {{#Dropdown ref="chatMenu"}}
      <div class="{{classes.chatContent__chatMenuDropdownContent}}">
        {{#Link clickHandler=onAddUserClick}}
        <div class="{{classes.chatContent__chatMenuDropdownItem}}">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="11" r="10.25" stroke="#3369F3" stroke-width="1.5" />
            <line x1="10.9999" y1="5.5" x2="10.9999" y2="16.5" stroke="#3369F3" stroke-width="1.5" />
            <line x1="5.49988" y1="11" x2="16.4999" y2="11" stroke="#3369F3" stroke-width="1.5" />
          </svg>
          <span class="{{classes.chatContent__chatMenuDropdownItemText}}">Add user</span>
        </div>
        {{/Link}}
        {{#Link clickHandler=onDeleteUserClick}}
        <div class="{{classes.chatContent__chatMenuDropdownItem}} {{classes.chatContent__chatMenuDropdownItem_last}}">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="11" r="10.25" stroke="#3369F3" stroke-width="1.5" />
            <line x1="7.11077" y1="7.11103" x2="14.8889" y2="14.8892" stroke="#3369F3" stroke-width="1.5" />
            <line x1="7.11078" y1="14.8891" x2="14.889" y2="7.11093" stroke="#3369F3" stroke-width="1.5" />
          </svg>
          <span class="{{classes.chatContent__chatMenuDropdownItemText}}">Remove user</span>
        </div>
        {{/Link}}
      </div>
      {{/Dropdown}}
    </div>
  </div>
  <div class="{{classes.chatContent__messagesContainer}} {{classes.container}} {{classes.container__centered}}">
    {{{ChatFeed chat=chat}}}
  </div>
  <div class="{{classes.chatContent__sendContainer}}">
    <div class="{{classes.chatContent__sendMenu}}">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M7.18662 13.5L14.7628 5.92389L15.7056 6.8667L8.12943 14.4428L7.18662 13.5Z" fill="#999999" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M9.70067 16.0141L17.2768 8.43793L18.2196 9.38074L10.6435 16.9569L9.70067 16.0141Z" fill="#999999" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M15.0433 21.3567L22.6195 13.7806L23.5623 14.7234L15.9861 22.2995L15.0433 21.3567Z" fill="#999999" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M17.5574 23.8708L25.1335 16.2946L26.0763 17.2374L18.5002 24.8136L17.5574 23.8708Z" fill="#999999" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M17.5574 23.8709C14.9423 26.486 10.7118 26.4954 8.10831 23.8919C5.50482 21.2884 5.51424 17.0579 8.12936 14.4428L7.18655 13.5C4.0484 16.6381 4.0371 21.7148 7.16129 24.839C10.2855 27.9632 15.3621 27.9518 18.5003 24.8137L17.5574 23.8709Z"
          fill="#999999" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M22.6195 13.7806L23.5623 14.7234C26.003 12.2826 26.0118 8.3341 23.5819 5.90417C21.152 3.47424 17.2035 3.48303 14.7627 5.92381L15.7055 6.86662C17.6233 4.94887 20.7257 4.94196 22.6349 6.85119C24.5441 8.76042 24.5372 11.8628 22.6195 13.7806Z"
          fill="#999999" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M9.70092 16.0144C7.95751 17.7578 7.95123 20.5782 9.68689 22.3138C11.4226 24.0495 14.2429 24.0432 15.9863 22.2998L15.0435 21.357C13.8231 22.5774 11.8489 22.5818 10.6339 21.3668C9.41894 20.1518 9.42334 18.1776 10.6437 16.9572L9.70092 16.0144Z"
          fill="#999999" />
      </svg>
    </div>
    {{#Form classModifier="horizontal" onSubmit=onSendMessage}}
    {{{Field ref="messageField" classModifier="chat" placeholder="Message" type="text" name="message" required="true"}}}
    {{#Button classModifier="primary round" submit="true"}}
    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="5.19995" width="11" height="1.6" fill="white" />
      <path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6" />
    </svg>
    {{/Button}}
    {{/Form}}
  </div>
  {{else}}
  <div class="{{classes.container}} {{classes.container__fullHeight}} {{classes.container__centered}}">
    <span class="{{classes.chatContent__emptyMessage}}">Please select chat to start messaging</span>
  </div>
  {{/if}}
  {{#Modal ref="addUserModal"}}
  {{{AddUser}}}
  {{/Modal}}
  {{#Modal ref="deleteUserModal"}}
  {{{DeleteUser}}}
  {{/Modal}}
</div>