<div class="{{classes.chat}} {{classes.container}} {{classes.container__fullHeight}}">
  <div class="{{classes.chat__chatsPanel}} {{classes.container}}">
    <a class="{{classes.chat__profileLink}}" href="/user/view">
      <span class="{{classes.chat__profileText}}">Profile</span>
      <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 9L5 5L1 1" stroke="#999999" />
      </svg>

    </a>
    {{{Search}}}
    <div class="{{classes.chat__list}}">
      {{#each chats}}
      <hr class="{{../classes.chat__listSeparator}}">
      {{{ChatItem user=this.user date=this.date text=this.text unreadCount=this.unreadCount}}}
      {{/each}}
    </div>
  </div>
  <div
    class="{{classes.flyout__placeholder}} {{classes.container}} {{classes.container__centeredHorizontal}} {{classes.container__fullHeight}}">
  </div>
</div>