<div class="{{modifyclass classes.field classModifier}}{{#if validationError}} {{classes.field_error}}{{/if}}">
    <label class="{{classes.field__label}}">
        {{caption}}
        <input type="{{type}}" placeholder="{{placeholder}}" data-ref="inputControl" class="{{classes.field__input}}"  value="{{value}}" name="{{name}}" {{#if readOnly}} readonly {{/if}}/>
        <span class="{{classes.field__errorLabel}}">{{validationErrorText}}</span>
    </label>
</div>