<div class="field {{classModifier}}">
    <label class="field__label {{labelClassModifier}}">
        {{caption}}
        <input type="{{type}}" class="field__input {{inputClassModifier}}"  value="{{value}}" name="{{name}}" {{#if readOnly}} readonly {{/if}}/>
    </label>
</div>