<div class="avatar {{classModifier}}">    
     <img class="avatar__image" src={{#if avatarUrl}} "{{avatarUrl}}" {{else}} "{{defaultAvatar}}" {{/if}} alt="{{avatarAlt}}">
     <div class="avatar__border"></div>
</div>