<div class="{{modifyclass classes.avatar classModifier}}">    
     <img class="{{classes.avatar__image}}" src={{#if avatarUrl}} "{{avatarUrl}}" {{else}} "{{defaultAvatar}}" {{/if}} alt="{{avatarAlt}}">
     <div class="{{classes.avatar__border}}"></div>
</div>