{{#Flyout returnUrl="/user/view"}}
<div class="{{classes.userChangePassword}} {{classes.userChangePassword__container}}">
  {{{Avatar avatarAlt="User avatar" avatarUrl=user.avatarUrl classModifier="user"}}}
  <span class="{{classes.userChangePassword__userLabel}}"></span>
  {{#Form onSubmit=onSubmit}}
  {{{Field caption="Old password" type="password" name="oldPassword" value="" classModifier="user" validationRule=validationRules.password}}}
  <hr class="{{classes.userChangePassword__fieldSeparator}}">
  {{{Field caption="New password" type="password" name="newPassword" value="" classModifier="user" validationRule=validationRules.password}}}
  <hr class="{{classes.userChangePassword__fieldSeparator}}">
  {{{Field caption="Repeat new password" type="password" name="newPasswordRepeat" value="" classModifier="user" validationRule=validationRules.password}}}
  <div class="{{classes.userChangePassword__errorLabel}}">
      {{error.text}}
  </div>
  <div class="{{classes.userChangePassword__buttonContainer}}">
    {{{Button caption="Save" classModifier="primary" submit="true" }}}
  </div>
  {{/Form}}


</div>

{{/Flyout}}