<div class="{{classes.container}} {{classes.container__centered}} {{classes.container__fullHeight}}">
    <div class="{{classes.mockMain}} {{classes.mockMain__container}} {{classes.shadowBox}}">                  
        <ul class="{{classes.mockMain__list}}">
            {{#each links}}                        
            <li class="{{../classes.mockMain__listItem}}">
                <a class="{{../classes.mockMain__listUrl}}" href="{{this.url}}">{{this.text}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>